<div class="p-collections-index">
  <h1>All public collections</h1>
  <div class="t-collections">
    <%= render "collections/shared/list", collections: @collections, with_actions: false %>
    <div class="m-pagination">
      <%= paginate @collections %>
    </div>
  </div>
</div>