// Define variables for your color scheme

:root {
  --night-blue: #171c31;
  --midnight-blue: #1b213a;
  --darker-blue: #222845;
  --dark-blue: #282b4a;
  --blue: #333b6a;
  --light-blue: #1ba0d1;
  --orange: #ff5b3f;
  --red: #f22b6b;
  --dark-red: #d7265f;
  --error-red: #ff2828;
  --dark-error-red: #af1717;
  --green: #0de077;
  --dark-green: #119a56;
  --purple: #a662d0;
  --dark-purple: #9b4dca;
  --white: #eef3fc;
  --grey65: rgb(238, 243, 252, 0.65);
  --grey50: rgb(238, 243, 252, 0.50);
  --grey40: rgb(238, 243, 252, 0.40);
}
