// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Teko:wght@300;400;500;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Nunito Sans", "Helvetica", "Arial", "sans-serif";
$headers-font: "Teko", "Helvetica", "Arial", "sans-serif";
$logo-font: "Fredericka the Great";
