// General style
$body-bg: var(--midnight-blue);
$font-size-small: 12px;
$font-size-base: 1em;
$font-size-bigtitle: 42px;
$font-size-header: 36px;
$font-size-logo: 32px;
$font-size-title: 28px;
$font-size-subtitle: 24px;
$font-size-smalltitle: 20px;

// Colors
$body-color: var(--white);
$primary:    var(--orange);
$success:    var(--green);
$info:       var(--light-blue);
$danger:     var(--red);
$warning:    var(--orange);
