.o-blueprint-filters {
  form {
    margin-bottom: 5rem;
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;

    &-common-mod_select_filter {
      width: 46.7%;
      margin-left: auto;
      display: flex;
      justify-content: end;
    }

    input {
      margin-bottom: 0;
    }

    & > div {
      flex-grow: 1;
      margin-left: 8px;
      margin-right: 8px;
    }

    & > div:first-child {
      margin-left: 0;
    }

    & > div:last-child {
      margin-right: 0;
    }

    &.no-grow > div {
      flex-grow: initial;
    }

    &:last-child {
      margin-top: 12px;
    }
  }

  &__search, &__author, &__tags {
    position: relative;
    width: 50%;
    flex-grow: 0;
    height: 3.75rem;

    i {
      color: var(--darker-blue);
      font-size: 18px;
      position: absolute;
      top: 10px;
      right: 12px;
    }

    input {
      padding: .7rem 1.0rem .6rem;
    }
  }

  &__tags {
    height: initial;

    i {
      font-size: 16px;
      top: 12px;
      right: 10px;
    }
  }

  &__author {
    flex-shrink: 2.69;
    i {
      top: 10px;
      right: 10px;
    }
  }

  &__order-container {
    width: 25%;
  }

  &__order {
    display: flex;
    border: 1px solid var(--blue);
    display: inline-flex;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    text-align: center;

    &-choice {
      flex-grow: 1;

      label {
        cursor: pointer;
        background-color: var(--night-blue);
        border-right: 1px solid var(--blue);
        color: var(--white);
        padding: 8px 24px;
        margin: 0;
        height: 3.8rem;

        &:hover {
          background-color: var(--blue);
        }
      }

      input[type='radio']  {
        display: none;
      }

      input[type='radio']:checked + label {
        background-color: var(--dark-red);
      }

      &:first-child label {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }

      &:last-child label {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border-right: 0;
      }
    }
  }

  &__select {
    display: flex;

    label {
      margin: 0 8px 0 0;
      white-space: nowrap;
      color: var(--grey50);
      font-style: italic;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    select { margin: 0; }
  }

  &__mods {
    display: flex;
    width: 50%;

    &-mod {
      display: inline-flex;
      align-items: center;
      flex-grow: 1;
      margin-right: 20px;
    }

    &-version {
      display: inline-flex;
      align-items: center;
      flex-grow: 1;
    }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    // margin-top: 15px;

    a, input[type='submit'] {
      min-width: 268px;
      border-color: var(--dark-red);
      background: var(--dark-red);
      color: var(--white);

      &:hover {
        background: transparent;
        border-color: var(--dark-red);
        color: var(--dark-red);
      }
    }

    a {
      display: flex;
      justify-content: center;
      font-weight: bold;
      background-color: var(--blue);
      border-color: var(--blue);
      margin-left: 25px;

      &:hover {
        background: transparent;
        border-color: #5a68b9;
        color: #5a68b9;
      }
    }
  }
}