.o-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue);
  padding: 14px 24px;
  box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 7px 11px -5px rgba(0,0,0,0.15);

  &__button {
    border: 0.1rem solid var(--purple);
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 8px 12px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-purple);
    border-color: var(--dark-purple);
    color: var(--white);

    &:hover {
      background: transparent;
      color: var(--dark-purple);
    }

    &.add-blueprints {
      --base-color: var(--dark-red);
      align-items: flex-start;
      line-height: 1.8rem;
      max-height: 35px;
      font-size: 1.2rem;
      background: var(--base-color);
      border-color: var(--base-color);

      i {
        font-size: 1.8rem;
        margin-left: 1rem;
      }

      &:hover {
        background: var(--base-color);
        color: var(--white);
      }
    }
  }

  &-block {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    a {
      color: var(--light-purple);
    }
  }

  &__nav-item {
    margin: 0 12px 0 12px;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid transparent;

    &.separator {
      margin: 0 8px 0 8px;
      &::before {
        content: '';
        border-right: 1px solid var(--blue);
        height: 30px;
        display: block;
      }
    }

    .nav-link {
      border-bottom: 2px solid transparent;
      display: inline-block;
      margin-top: 6px;
    }

    &.active .nav-link, .nav-link:hover {
      border-bottom: 2px solid #b474db;
    }

    &.active, &:hover {
      .nav-icon {
        background: var(--dark-purple);
      }
    }

    .nav-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      background: var(--darker-blue);
      border-radius: 50%;
      padding: 6px;

      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.factory img {
        opacity: 0.8;
        width: 20px;
      }

      &.dyson_sphere img {
        opacity: 0.8;
        width: 32px;
      }

      &.mecha img {
        opacity: 0.8;
        width: 32px;
      }
    }

    &.locale-switcher {

    }

    &.support {
      border-bottom: none;

      span {
        height: 1.8em;
        line-height: 2em;
        background: image-url('support/donation_icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 2.6em;
      }
      img {
        height: 1.8em;
        margin-left: 0.8em;
      }

      &.active {
        border-bottom: none;

        .o-navbar__button {
          background: transparent;
          color: var(--dark-purple);

          span {
            background-image: image-url('support/donation_icon_hover.png');
          }
        }

      }
      .o-navbar__button {
        max-height: 35px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
          color: var(--dark-purple);

          span {
            background-image: image-url('support/donation_icon_hover.png');
          }
        }
      }
    }
  }
}
