.o-preview {
  position: relative;

  &-container {
    height: 500px;
    margin: 8px;
    line-height: 0;
    border-bottom: 0;
  }

  &-tooltip {
    position: absolute;
    width: 120px;
    background: rgba(30, 30, 30, 0.8);
    color: var(--white);
    padding: 10px;
    z-index: 999;
    pointer-events: none;
    display: none;
    font-size: 14px;

    p {
      margin: 4px;
    }
  }
}
