<div class="t-blueprint__comments">
  <h3>Comments</h3>
  
  <div id="new_comment">
    <%= render "comments/form" %>
  </div>
  
  <div id="comments">
    <% if @blueprint.comments.any? %>
      <%= render @blueprint.comments %>
    <% else %>
      <p class="text-muted">No comments yet. Be the first to comment!</p>
    <% end %>
  </div>
</div> 