.p-registration, .p-registration-edit, .p-login, .p-password {
  form {
    margin-bottom: 0;

    input[type=submit] {
      margin-top: 1em;
      margin-bottom: 1.8em;
    }
  }
}

.m-omniauth {
  display: flex;
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid var(--midnight-blue);
}

.m-links {
  &__register, &__login {
    a { color: var(--light-blue); }
    a:hover { color: var(--blue); }
  }
}

.a-discord-auth-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #7389da;
  padding: 10px 14px 8px 14px;
  border-radius: 5px;
  color: var(--white);
  font-family: $body-font;
  font-size: 14px;
  font-weight: bold;

  i {
    font-size: 32px;
    margin-right: 10px;
  }

  &:hover {
    background-color: #6073b8;
    color: var(--white);
  }
}
