.p-page {

  &__header {
    margin: 5px 0 10px 0;

    &.inline {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .a-logo {
      font-size: 48px;
    }

    p {
      margin-top: 30px;
      font-size: $font-size-smalltitle;
      color: #d0d5de;
    }

    &-title {
      font-family: $headers-font;
      color: var(--white);
      font-size: $font-size-logo;
      line-height: 1em;
      font-size: 42px;
      margin-bottom: 0;

      &-main {
        font-size: 1em;
        line-height: 1em;
        color: var(--red);

        .author {
          color: var(--white);
        }
      }

      &-em {
        padding-left: 2px;
        font-family: $logo-font;
        display: inline-block;
        font-size: 30px;
        font-size: 0.8em;
      }
    }
  }
}