.p-help {
  background: var(--night-blue);
  padding: 3em 4em;
  border-radius: 8px;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-size: $font-size-header;
    width: 100%;
    border-bottom: 2px solid var(--blue);
    color: var(--grey65);
    margin-bottom: 0.6em;

    strong {
      font-weight: 400;
    }
  }

  ol {
    margin-bottom: 30px;
  }

  li {
    img {
      margin-top: 10px;
      max-width: 760px;
      border: 3px solid var(--blue);
      border-radius: 4px;
    }
  }
}