.p-home {
  display: flex;
  flex-direction: column;

  .dsp {
    font-family: $headers-font;
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }
}