.p-home {
  display: flex;
  flex-direction: column;

  .p-page__header {
    margin: 25px 0 25px 0;
    text-align: center;
  }

  .dsp {
    font-family: $headers-font;
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }
}