<div class="p-blueprint-index">
  <h1>
    <% if @filters[:type] %>
      <strong><%= @filters[:type].humanize.pluralize %></strong>
    <% else %>
      All public
    <% end %>
    blueprints</h1>
  <%= render "blueprints/shared/filters", filters: @filters, filter_path: blueprints_path %>
  <%= render "blueprints/shared/list", blueprints: @blueprints, filters: @filters %>
</div>