<div class="p-blueprint-index">
  <h1>All public blueprints</h1>
  <%= render "blueprints/shared/filters", filters: @filters, filter_path: blueprints_path %>
  <%= render "blueprints/shared/list", blueprints: @blueprints, filters: @filters %>
</div>