.m-form {
  &__container {
    background: var(--night-blue);
    padding: 3em 4em;
    border-radius: 8px;
  }

  em {
    font-size: 12px;
    color: var(--grey65);
  }

  .hint {
    color: var(--grey50);
    font-style: italic;
  }

  .hint-help {
    font-style: italic;
    margin-top: -18px;
    margin-bottom: 22px;
    margin-left: 5px;
  }

  form {
    margin-bottom: 0;
  }

  input[type=submit] {
    margin-top: 2.2em;
    color: var(--white);
    border-color: var(--dark-red);
    background-color: var(--dark-red);

    &:hover {
      background-color: transparent;
      border-color: var(--dark-red);
      color: var(--dark-red);
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        color: var(--white);
        border-color: var(--dark-red);
        background-color: var(--dark-red);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    span {
      color: var(--dark-red);
    }

    &-icon {
      width: 32px;
      margin-right: 1rem;

      &.factory {
        margin-bottom: 10px;
      }

      &.dyson-sphere {
        margin-bottom: 4px;
      }

      &.mecha {
        width: 34px;
        margin-bottom: 4px;
      }
    }
  }

  &__tags {
    margin-bottom: 20px;
  }

  &__inline {
    display: flex;

    & > div {
      margin-right: 20px;
      flex-grow: 1;
    }

    & > div:last-child {
      margin-right: 0;
    }
  }

  &__important {
    label { font-weight: bold; }
    textarea { font-family: monospace; min-height: 120px; }
  }

  &__uploader {
    margin-bottom: 15px;
  }

  &__picture, &__file {
    margin-top: 22px;

    &-preview {
      img {
        border: 2px solid var(--blue);
        border-radius: 6px;
        width: fit-content;
      }
      &__warning {
        display: block;
        color: var(--orange);
        margin-bottom: 10px;
      }
    }
  }

  &__pictures {
    margin-top: 30px;
    margin-bottom: 10px;

    &-preview {
      display: flex;
      flex-direction: column;

      &-remove {
        display: flex;
      }

      &__warning {
        display: block;
        color: var(--orange);
        margin-bottom: 10px;
      }

      &-container {
        border: 2px solid var(--dark-error-red);
        border-radius: 6px;
        display: inline-block;
        margin-right: 20px;

        label {
          cursor: pointer;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;

          strong {
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: .1rem;
            color: var(--white);
            background-color: var(--dark-error-red);
            text-align: center;
            padding: 6px 0;
          }
        }

        &:hover {
          opacity: 0.8;
        }

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox]:checked + label {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f057";
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--dark-error-red);
            font-size: 50px;
          }
        }
      }
    }
  }

  .error {
    color: var(--error-red);
    display: block;
    margin-bottom: 20px;
    margin-top: -8px;
    margin-left: 4px;

    &.tags {
      margin-top: 4px;
    }
  }

  .error-container {
    display: block;
    margin-top: 4px;
    margin-bottom: 14px;

    & > .error {
      background: var(--blue);
      padding: 6px 12px;
      color: var(--white);
      border-radius: 4px;
      width: 100%;
      margin-left: 0;

      &::before {
        content: "⚠️"
      }
    }

    &.tags {
      margin-top: 16px;
    }
  }
}
