<div class="o-locale-switcher" data-controller="localeSwitcher">
  <% I18n.available_locales.each do |locale| %>
    <% if locale.to_s == I18n.locale.to_s %>
      <span class="o-locale-switcher__current"><%= locale_display_name(locale) %></span>
    <% else %>
      <%= link_to locale_display_name(locale),
                  url_for(locale: locale),
                  class: "o-locale-switcher__link",
                  data: { action: "click->localeSwitcher#switch", locale: locale } %>
    <% end %>
    <% unless locale == I18n.available_locales.last %>
      <span class="o-locale-switcher__separator">|</span>
    <% end %>
  <% end %>
</div>
