<div class="p-staticPage">
  <h1>Wall of fame</h1>
  <p>A most heartfelt to all Dyson Sphere Blueprints supporters ❤️</p>

  <h2>A deep, heartfelt thank you to our supporters:</h2>
  <ul class="m-wallOfFame">
    <li>
      <img src="https://avatars.githubusercontent.com/u/3206462?s=88&u=26e8249ef21d82a053db6361f125a07f4fdd8265&v=4" alt="Sho918's avatar">Sho918
    </li>
    <li>
      <img src="https://avatars.githubusercontent.com/u/14607075?s=52&v=4" alt="Waylon's avatar">Waylon<br />
    </li>
  </ul>
  <p>
    Checkout Waylon's project: <a href="https://www.wecaretucson.org/">We Care Tucson</a>! A non-profit organization that refurbishes donated computers to resell at discounted prices to the community so that everyone can be connected and has a medical equipment loaner program so that individuals can have proper medical gear.
  </p>
  <ul class="m-wallOfFame">
    <li>
      <%= image_tag "support/supporters/joenuevo.png", alt: "Joe Nuevo's avatar" %>Joe Nuevo
    </li>
    <li>
      <img src="https://avatars.githubusercontent.com/u/45107?s=52&v=4" alt="El Greco's avatar">El Greco
    </li>
    <li>
      <img src="https://avatars.githubusercontent.com/u/14927934?s=52&v=4" alt="Bkkgbkjb's avatar">Bkkgbkjb
    </li>
    <%# <li>
      <img src="https://avatars.githubusercontent.com/u/3166008?s=120&v=4" alt="discomethod's avatar">Discomethod
    </li> %>
    <li>
      <img src="https://c8.patreon.com/2/200/187315" alt="Julien Leloup's avatar">Julien Leloup
    </li>
  </ul>
</div>

<div class="a-credit">
  <div>Donation Button icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
