<div class="p-staticPage">
  <h1>Wall of fame</h1>
  <p>A most heartfelt to all Dyson Sphere Blueprints supporters ❤️</p>
  <p>⚠️ This page will be filled with our supporters names and logos as per reward tiers&nbsp;&nbsp;⚠️</p>

  <h2>Thanks a lot to</h2>
  <ul class="m-wallOfFame">
    <li>
      <img src="https://avatars.githubusercontent.com/u/3206462?s=88&u=26e8249ef21d82a053db6361f125a07f4fdd8265&v=4" alt="Sho918 avatar">sho918
    </li>
  </ul>
</div>

<div class="a-credit">
  <div>Donation Button icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
