<div class="o-blueprint-filters__author">
  <%= f.text_field :author, placeholder: t('blueprints.filters.search_by_author_placeholder'), value: filters[:author] %>
  <i class="fas fa-user"></i>
</div>
