<!-- Structures -->
<div class="o-blueprint-filters__structuresCount o-blueprint-filters__select">
  <%= f.label :max_structures, t('blueprints.filters.max_structures') %>
  <%= f.select :max_structures, Engine::Researches.instance.formatted_mass_construction_with_limits.invert.to_a, selected: filters[:max_structures], include_blank: t('blueprints.filters.any') %>
</div>
