
.tagify {
  --tags-border-color: var(--darker-blue);
  --tag-hover: var(--blue);
  --tag-bg: var(--light-blue);
  --tag-text-color: var(--white);
  --tag-invalid-bg: var(--red);
  --tag-invalid-color: var(--white);
  --tag-remove-bg: var(--blue);
  --placeholder-color: var(--grey50);
  --placeholder-color-focus: var(--grey40);

  background: rgba(0, 0, 0, 0.2);

  &__input {
    font-size: 14px;
    overflow: hidden;

    &::before {
      line-height: inherit;
    }

    &::placeholder {
      font-size: 14px;
    }
  }

}

.tagify__dropdown {
  --tagify-dd-color-primary: var(--dark-blue);
  --tagify-dd-bg-color: var(--blue);

  &__wrapper {
    border-radius: 2px;
  }
}

[data-uppy-theme=dark] {
  .uppy-Dashboard {
    &-AddFiles {
      border-color: #89193d;

      &-title {
        z-index: 1004;
      }

      &-info {
        display: inline;
        font-style: italic;
      }
    }

    &-note {
      max-width: initial;
    }

    &-inner {
      border: 3px solid var(--dark-red);
      font-family: "Nunito Sans", "Helvetica", "Arial", "sans-serif";
      background-color: rgba(0, 0, 0, 0.2);
    }

    &-browse {
      color: var(--dark-red);

      &:hover {
        border-color: var(--dark-red);
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &-Item {
      max-height: 80px;

      &-preview {
        max-height: 80px;
      }
    }
  }

  .uppy-DashboardContent {
    &-bar {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: var(--dark-blue);
      height: 40px;
    }

    &-title {
      line-height: 40px;
    }

    &-reset-button, &-addMore {
      display: inline-flex;
      align-items: center;
      font-size: 1.1rem;
      border: 1px solid var(--dark-red);
      background-color: var(--dark-red);
      color: var(--white);
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 0 1.6rem;
      font-weight: 700;
      border-radius: 3px;

      &:focus {
        border: 1px solid var(--dark-red);
        background-color: var(--dark-red);
        color: var(--white);
      }

      &:hover {
        border-color: var(--dark-red);
        background-color: transparent;
        color: var(--dark-red);
      }
    }

    &-reset-button {
      margin-left: 15px;
    }

    &-addMore {
      margin-left: auto !important;
    }

    &-addMoreCaption {
      line-height: 1em;
    }
  }
}

trix-toolbar .trix-button {
  background: #e3e3e3;
  border: none;
  line-height: initial;
  letter-spacing: initial;
}

trix-toolbar .trix-input--dialog {
  background-color: var(--night-blue) !important;
  font-size: 14px !important;
}

trix-toolbar .trix-dialog {
  box-shadow: 0 0.3em 1em #18161f;
  background: rgba(0, 0, 0, 0.45);
  border-top: 2px solid var(--purple);

  .trix-button {
    background: transparent;
    border: 1px solid var(--purple) !important;
    border-radius: 3px;
    color: var(--white);
    margin-left: 5px;
    padding: 6px 24px;

    &:hover {
      background: var(--purple);
      color: var(--white);
    }
  }
}

trix-toolbar .trix-button-group {
  border-color: var(--night-blue);
}

trix-toolbar .trix-button:not(:first-child) {
  border-color: var(--night-blue);
}

trix-editor {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.20);
  border-color: var(--darker-blue);
  font-family: "Nunito Sans", "Helvetica", "Arial", "sans-serif";

  margin-bottom: 20px;
}

.trix-button--icon-attach,
.trix-button--icon-code,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level { display: none; }
