
.tagify {
  --tags-border-color: var(--darker-blue);
  --tag-hover: var(--blue);
  --tag-bg: var(--light-blue);
  --tag-text-color: var(--white);
  --tag-invalid-bg: var(--red);
  --tag-invalid-color: var(--white);
  --tag-remove-bg: var(--blue);
  --placeholder-color: var(--grey50);
  --placeholder-color-focus: var(--grey40);

  background: rgba(0, 0, 0, 0.2);

  &__input {
    font-size: 14px;
    overflow: hidden;

    &::before {
      line-height: inherit;
    }

    &::placeholder {
      font-size: 14px;
    }
  }

}

.tagify__dropdown {
  --tagify-dd-color-primary: var(--dark-blue);
  --tagify-dd-bg-color: var(--blue);

  &__wrapper {
    border-radius: 2px;
  }
}

/* TODO: Remove */
label.asdndzone {
  cursor: pointer;
  border: 3px solid var(--dark-red);
  font-size: 20px;
  max-width: initial;
  min-height: initial;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 15px;

  input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  .asdndz__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .asdndz-highlight {
    color: var(--red);
  }

  .direct-upload {
    background-color: var(--midnight-blue);
    color: var(--white);
    height: initial;
    display: inline-flex;
    align-items: center;

    &__progress {
      background-color: var(--green);
    }

    &__remove {
      color: var(--white);

      &:hover {
        color: var(--red);
      }
    }

    &__filesize {
      color: var(--white);
    }
  }

  .direct-upload--pending {
    .direct-upload__filesize {
      color: #707e87;
    }
  }
}

trix-toolbar .trix-button {
  background: #e3e3e3;
  border: none;
  line-height: initial;
  letter-spacing: initial;
}

trix-toolbar .trix-input--dialog {
  background-color: var(--night-blue) !important;
  font-size: 14px !important;
}

trix-toolbar .trix-dialog {
  box-shadow: 0 0.3em 1em #18161f;
  background: rgba(0, 0, 0, 0.45);
  border-top: 2px solid var(--purple);

  .trix-button {
    background: transparent;
    border: 1px solid var(--purple) !important;
    border-radius: 3px;
    color: var(--white);
    margin-left: 5px;
    padding: 6px 24px;

    &:hover {
      background: var(--purple);
      color: var(--white);
    }
  }
}

trix-toolbar .trix-button-group {
  border-color: var(--night-blue);
}

trix-toolbar .trix-button:not(:first-child) {
  border-color: var(--night-blue);
}

trix-editor {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.20);
  border-color: var(--darker-blue);
  font-family: "Nunito Sans", "Helvetica", "Arial", "sans-serif";

  margin-bottom: 20px;
}

.trix-button--icon-attach,
.trix-button--icon-code,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level { display: none; }
