// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/variables";

// External libraries
@import "milligram/dist/milligram";
@import "@yaireo/tagify/dist/tagify";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tippy.js/dist/tippy";
@import "trix/dist/trix";
@import "swiper/swiper-bundle";
@import 'uppy/dist/uppy.min';
@import "@melloware/coloris/dist/coloris.css";

// Your CSS partials
@import "atoms/index";
@import "molecules/index";
@import "organisms/index";
@import "pages/index";
@import "overrides";

// Layout

body {
  margin: 0;
  font-size: 14px;
  font-family: $body-font;
  background: $body-bg;
  color: $body-color;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
  letter-spacing: initial;
}

h1 {
  font-size: $font-size-bigtitle;
}

h2 {
font-size: $font-size-title;
}

h3 {
  font-size: $font-size-subtitle;
}

h4 {
  font-size: $font-size-smalltitle;
}

a {
  color: var(--red);
}

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'], input:not([type]), textarea {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.20);
  border-color: var(--darker-blue);
  font-family: $body-font;
}

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'] {
  &::placeholder {
    color: var(--grey50);
    font-size: 14px;
  }
}

input[type='submit'] {
  background-color: var(--purple);
  border-color: var(--purple);

  &:hover {
    border-color: var(--purple);
    background: transparent;
    color: var(--purple);
  }
}

select {
  color: var(--white);
  border-color: var(--darker-blue);
  background-color: #151a2e;
}

label {
  font-weight: normal;
  font-size: 16px;
}

button {
  font-family: $body-font;
}

.wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.l-message {
  padding: 1.5em 1.8em;
  background-color: #e91e6366;
  max-height: 90px;

  strong {
    font-style: normal;
    font-size: 1.2em;
  }

  em {
    font-style: italic;
  }
}

.l-wrapper {
  width: 1140px;
  margin: 2em auto 1em auto;
}

.l-footer {
  width: 100%;
  background: var(--night-blue);
  padding: 10px;
  text-align: center;

  &__separator {
    display: inline-block;
    padding: 0 1em;
    margin-top: -1px;
  }
}

.tippy-box {
  background: var(--medium-blue);
}

.tippy-arrow {
  color: var(--medium-blue);
}